---
layout: default
---
<p>
I currently study Data Science & Mathematics at the University of Calgary. 
<BR>
I hope to sometimes post things I find interesting here, although I'm known to be somewhat inconsistent.
</p>

<BR>

<h3>Writing</h3>
<ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    {%- assign d = post.last_modified_at | default: post.date %}
    &mdash; <time datetime="{{ d | date_to_xmlschema }}">{{ d | date: "%Y-%m-%d" }}</time>
  </li>
  {% endfor %}
</ul>

<BR>

<h3>Random Static Sites Hosted Here</h3>
<ul>
  {% assign projects = site.random | sort: 'added' | reverse %}
  {% for project in projects %}
  <li>
    <a href="{{ project.url | relative_url }}">{{ project.title }}</a>
    {%- if project.description %}<br><small>{{ project.description }}</small>{% endif -%}
  </li>
  {% endfor %}
  <li><a href="https://frkns.github.io/HydraGame/">Kirby-Paris Hydra Game</a></li>
  <li>For other projects that aren't web-hosted, see my <a href="https://github.com/frkns">GitHub</a>.</li>
</ul>

<BR>
<BR>
If you got this far, don't hesitate to message me and say hi!
<BR>
email <code>kenny.chau at ucalgary.ca</code>
<BR>
discord <code>osteo9</code>
