---
layout: default
---
<article>
  <h1>{{ page.title }}</h1>
  {%- assign shown_date = page.last_modified_at | default: page.date -%}
  <p>Last edited: <time datetime="{{ shown_date | date_to_xmlschema }}">{{ shown_date | date: "%Y-%m-%d" }}</time></p>
  {{ content }}
</article>
<script>
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']]
    }
  };
</script>
<script src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js" async></script>
